/*
	Coin Slider jQuery plugin CSS styles
	http://workshop.rs/projects/coin-slider
*/


.coin-slider { overflow: visible; zoom: 1; position: relative; }
.coin-slider a{ text-decoration: none; outline: none; border: none; }

.cs-title { width: 378px; padding: 10px; background-color: #000000; color: #FFFFFF; }

.cs-prev, 
.cs-next { display:none; background-color: #000000; width:30px; height:30px; color: #FFFFFF; text-indent:-9999px; }
.cs-prev {background:url(../images/previous.png) 0px 0px no-repeat;}
.cs-next {background:url(../images/next.png) 0px 0px no-repeat;}

.cs-buttons { font-size: 0px;   position:relative; top:86px; left:-7px !important;}
.cs-buttons a { margin-left: 6px; height: 10px; width: 11px; float: left; background:url(../images/unselected-slider.png) 0px 0px no-repeat; text-indent: -1000px; }
.cs-active { background:url(../images/selected-slider.png) 0px 0px no-repeat !important; color: #FFFFFF; }
.coin-slider img { display: block; }