<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="tr-TR">
<head profile="http://gmpg.org/xfn/11">
<title>{{ if .Title }}{{ .Title }} - {{ end }}{{ .Site.Title }}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	{{ if .Description }}
	<meta name="description" content="{{ .Description }}" />
	{{ else if .Summary }}
	<meta name="description" content="{{ .Summary | truncate 160 }}" />
	{{ end }}
	{{ if .Keywords }}
	<meta name="keywords" content="{{ .Keywords }}" />
	{{ end }}
	{{ if .Params.author }}
	<meta name="author" content="{{ .Params.author }}" />
	{{ end }}
	<link rel="canonical" href="{{ .Permalink }}" />
	{{ if .Params.image }}
	<meta property="og:image" content="{{ .Params.image | absURL }}" />
	{{ end }}
	<meta property="og:title" content="{{ if .Title }}{{ .Title }} - {{ end }}{{ .Site.Title }}" />
	<meta property="og:description" content="{{ if .Description }}{{ .Description }}{{ else if .Summary }}{{ .Summary | truncate 160 }}{{ end }}" />
	<meta property="og:url" content="{{ .Permalink }}" />
	<meta property="og:type" content="{{ if eq .Type "makaleler" }}article{{ else }}website{{ end }}" />
	{{ if eq .Type "makaleler" }}
	<meta property="article:published_time" content="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}" />
	{{ if .Params.author }}
	<meta property="article:author" content="{{ .Params.author }}" />
	{{ end }}
	{{ end }}
	<link rel="stylesheet" href="{{ "/style.css" | relURL }}" type="text/css" media="all" />
	<script type="text/javascript" src="{{ "/js/jquery-1.4.1.min.js" | relURL }}"></script>
	<script type="text/javascript" src="{{ "/js/jquery.fancybox-1.3.0.pack.js" | relURL }}"></script>
	<script type="text/javascript" src="{{ "/js/custom.js" | relURL }}"></script>
	{{ if .IsHome }}
	<link rel="stylesheet" href="{{ "/css/coin-slider-styles-large.css" | relURL }}" type="text/css" media="all" />
	{{ else }}
	<link rel="stylesheet" href="{{ "/css/coin-slider-styles.css" | relURL }}" type="text/css" media="all" />
	{{ end }}
	{{ if or (eq .Section "makaleler") (eq .Type "makaleler") }}
	<link rel="stylesheet" href="{{ "/css/makaleler.css" | relURL }}" type="text/css" media="all" />
	{{ end }}
<meta charset="UTF-8">

<div style="position: absolute; top: 10px; right: 10px;">

<img src="{{ "/images/iletisim.png" | relURL }}" />

</div>

{{ if .Site.Params.yandex.enabled }}
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter{{ .Site.Params.yandex.id }} = new Ya.Metrika({
                    id:{{ .Site.Params.yandex.id }},
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/{{ .Site.Params.yandex.id }}" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
{{ end }}
</head>
<body>
	{{ partial "header.html" . }}
	
	{{ block "main" . }}{{ end }}
	
	{{ partial "footer.html" . }}
	
	<script type="text/javascript">
	var timeout         = 500;
	var closetimer		= 0;
	var ddmenuitem      = 0;

	function jsddm_open()
	{	jsddm_canceltimer();
		jsddm_close();
		ddmenuitem = $(this).find('ul').eq(0).css('visibility', 'visible');}

	function jsddm_close()
	{	if(ddmenuitem) ddmenuitem.css('visibility', 'hidden');}

	function jsddm_timer()
	{	closetimer = window.setTimeout(jsddm_close, timeout);}

	function jsddm_canceltimer()
	{	if(closetimer)
		{	window.clearTimeout(closetimer);
			closetimer = null;}}

	$(document).ready(function()
	{	$('#jsddm > li').bind('mouseover', jsddm_open);
		$('#jsddm > li').bind('mouseout',  jsddm_timer);});

	document.onclick = jsddm_close;
	</script>
	
</body>
</html>

