<!-- HEADER BEGIN -->
<div id="header">
	<h1><a href="{{ "/" | relURL }}"><img src="{{ "/images/logo.png" | relURL }}"></a></h1>
	<ul id="jsddm">
		{{ range $index, $item := .Site.Menus.main }}
		{{ $isLast := eq (add $index 1) (len $.Site.Menus.main) }}
		{{ $isSelected := or ($.IsMenuCurrent "main" $item) (and (eq $item.Identifier "anasayfa") $.IsHome) }}
		<li{{ if $isSelected }} class="selected{{ if $isLast }} last{{ end }}"{{ else if $isLast }} class="last"{{ end }}>
			<a href="{{ $item.URL | relURL }}">{{ $item.Name }}</a>
		</li>
		{{ end }}
	</ul>
</div>
<!-- HEADER END -->

