{{ define "main" }}
	<!-- PAGE TITLE BEGIN -->
	<div id="page_title">
		<div id="page_title_container">
			<div id="title_divider"><h1>{{ .Title }}</h1></div>
		</div>
	</div>
	<!-- PAGE TITLE END -->
	
	
	<!-- CONTENT BEGIN -->
	<div id="container_sub">
		<div class="container_box">
		<div id="content">
			<div class="column-container">
				<div class="double-left">
					<center><h3>Meteksan - Trafikent Test Sistemi</h3></center><br />
					<img src="{{ "/images/meteksan.jpg" | relURL }}" width="450" height="250">
					
					<p>Meteksan Test Sistemleri ile ilgili tüm alım, satım ve kiralama işlemleri yapılır.</p>
					<p>Sisteme ek olarak şirketimiz tarafından kurulum ve uzaktan teknik destek hizmeti de verilmektedir.</p>

					<p>Psikoteknik değerlendirme işlemine; </p>

					<ul class="arrow">
						<li>2918 Sayılı Karayolları Trafik Kanunu'nda belirtilen alkolle ilgili 48/5, hızla ilgili 51/2-b, ve ceza puanıyla ilgili 118. maddeleri gereği ehliyeti geri alınan kişiler;</li>

						<li>Karayolları Taşıma Yönetmeliği 60-e maddesine istinaden araç kullanan sürücüler;</li>

						<li>Firmaların kendi bünyelerinde istihdam ettikleri şoförler ya da sıklıkla araç kullanan personel;</li>

						<li>TIR, otobüs, kamyon, halk otobüsü, servis, itfaiye, ambulans taksi vb. araçların sürücüleri;</li>
					</ul>

					tabi tutulmalıdır.
				</div>
				<div class="double-right">
					<center><h3>Viyana Test Sistemi</h3></center><br />
					<img src="{{ "/images/viyana.jpg" | relURL }}" width="450" height="250">
					
					<p>Viyana Test Sistemleri ile ilgili tüm alım, satım ve kiralama işlemleri yapılır.</p>
					<p>Sisteme ek olarak şirketimiz tarafından kurulum ve uzaktan teknik destek hizmeti de verilmektedir.</p>

					<p>Psikoteknik değerlendirmeler sonucunda;</p> 

					<ul class="arrow">
						<li>Zihinsel beceri ve yetenekler</li>
						<li>Psikomotor beceri ve yetenekler</li>
						<li>Kişilik özellikleri</li>
					</ul>
					belirlenmektedir.
				</div>
			</div>
		</div>
		</div><!-- container_box -->
	</div> <!-- container_sub -->
	
	
	<!-- CONTENT END -->
{{ end }}

